# Database Configuration
DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_NAME=DATABASE_NAME
DATABASE_USER=DATABASE_USER
DATABASE_PASSWORD=DATABASE_PASSWORD

# Shioaji Configuration
SHIOAJI_API_KEY=SHIOAJI_API_KEY
SHIOAJI_SECRET_KEY=SHIOAJI_SECRET_KEY
