.accounting-kv {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 4rem;
}

.generalreport-container-all {
  flex: 1;
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
}

.accounting-card {
  flex: 1;
  margin-bottom: 1rem;
  width: 100%;
}

.accouting-form {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.full-width-button {
  margin-left: 10px;
  width: 100%;
}

.full-width-submit-button {
  width: 100%;
  display: block;
}

.fs-0 {
  flex-shrink:0;
}

/* 手機響應式處理 */
@media (max-width: 768px) {
  .accounting-kv {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 1rem;
  }

  .generalreport-container-all {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .accounting-card.visible {
    flex: 1;
    margin-bottom: 1rem;
    width: 100%;
  }

  .accounting-card.hidden {
    flex: 1;
    margin-bottom: 1rem;
    width: 0;
    opacity: 0;
    overflow: hidden;
  }

  .accouting-form {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .full-width-button {
    margin-left: 10px;
    width: 100%;
  }

  .full-width-submit-button {
    width: 100%;
    display: block;
  }

  .fs-0 {
    flex-shrink:0;
  }
}
