.accounting-kv {
  display: flex; /* 使用 Flexbox 進行佈局 */
}

.accounting-container-right {
  flex-grow: 1; /* 使右側內容佔據剩餘空間 */
  padding: 16px; /* 內邊距 */
  transition: margin-left 0.3s; /* 加入過渡效果以改善側邊欄的展開與收合 */
}

.accounting-container-right.collapsed {
  margin-left: 256px; /* 側邊欄展開時的左邊距 */
}

.accounting-container-right:not(.collapsed) {
  margin-left: 0; /* 側邊欄收合時的左邊距 */
}

.card {
  margin-top: 16px; /* 卡片與上方內容的距離 */
}
