.bank-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .bank-info {
    width: 60%;
  }
  
  .bank-info h2 {
    margin: 0;
  }
  
  .bank-info p {
    display: inline;
    font-size: 20px;
    margin-right: 10px;
  }
  
  .button-group {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .button-group p {
    margin-bottom: 10px;
  }
  
  .button-group button {
    margin-top: 5px;
  }
  
  .detail-left {
    float: left;
  }
  
  .detail-right {
    float: right;
  }
