@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

body {
  background-image: url(../images/loginback.png);
  background-attachment: fixed;
  background-size: cover;
}

.kv {
  height: 100vh;
  background-size: cover;
}

.button {
  font-weight: bolder;
  color: #ffffff;
  background: linear-gradient(to right, #BD4C7F, #f7b1bc);
  border: 0px;
  border-radius: 10px;
}

.button:hover {
  box-shadow: 3px 5px 5px #E8B4BC;
}

.text-content {
  flex: 1; /* Ensure text and image sections take equal space in the container */
}

.text-content {
  padding-top: 7%;
}

.text-content h1{
  font-size: 75px;
}

.text-content h6{
  font-size: 30px;
}

@media (max-width: 992px) {
  .text-content h1 {
    font-size: 40px; /* Smaller font size for smaller screens */
  }
  .text-content h6, .text-content span {
    font-size: 20px; /* Smaller font size for subtext */
  }
}

@media (max-width: 768px) {
  .d-flex {
    flex-direction: column; /* Stack elements vertically on smaller screens */
  }
  .text-content {
    margin-bottom: 20px; /* Add some space between text content and image */
  }
  .button {
    padding: 10px 20px; /* Smaller button */
  }
}

@media (max-width: 480px) {
  .text-content h1 {
    font-size: 45px; /* Even smaller font size for very small screens */
  }
  .text-content h6{
    font-size: 16px; /* Smaller subtext */
  }
  .button {
    width: 100%; /* Full width button */
    padding: 8px 0; /* Adjust padding */
  }
}
