@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

* {
  font-family: 'Poppins', 'Helvetica', 'Arial', 'Noto Sans TC', '黑體-繁', '微軟正黑體', sans-serif !important;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  background: linear-gradient(to right, rgba(255, 214, 204, 1), rgba(255, 241, 235, 1));
  /* 高於一般元素，低於 modal 等元素 */
}

body {
  padding-top: 57.5px;
  /* 假設導航欄高度為 56px */
}

.navbar-nav .nav-item .nav-link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #D282A6 !important;
  font-size: 18px !important;
  font-weight: normal;
  margin-top: 15px;
}

/* 底線動畫效果 */
.navbar-nav .nav-item .nav-link:not(.no-underline)::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px; /* 底線的高度 */
  background-color: #E8B4BC; /* 底線顏色與字體顏色相同 */
  bottom: -5px; /* 底線與文字的間距 */
  left: 0;
  transition: width 0.3s ease-in-out; /* 添加動畫效果 */
}

.navbar-nav .nav-item .nav-link:not(.no-underline):hover::after {
  width: 100%; /* 滑鼠懸停時底線延伸到整個元素寬度 */
}

/* 懸停時字體顏色變化 */
.navbar-nav .nav-item .nav-link:hover {
  color: #E8B4BC !important; /* 更改懸停時的字體顏色 */
}

/* 帳號相關項目不帶底線動畫 */
.navbar-nav .nav-item .nav-link.no-underline {
  color: #D282A6 !important;
  /* 可以額外調整字體樣式 */
}

.navbar-nav .nav-item .nav-link.no-underline:hover {
  color: #E8B4BC !important;
}

/* 其他樣式 */
.bbb {
  color: #dd87a8 !important;
  font-weight: lighter;
  border: #ffffff 100px !important;
}

.bbb:hover {
  background-color: #f58e9d !important;
}

.aaa {
  color: white !important;
}

.aaa:hover {
  background-color: #f58e9d !important;
}

#btnb {
  width: 100px;
  height: 37px;
  background-color: transparent;
  /* 默認背景透明 */
  border-radius: 10px;
}

#btnb:hover {
  background-color: #E8B4BC;
  color: white !important;
  border-radius: 10px;
}

.kv {
  height: 88vh;
  background-image: url(../images/loginback.png);
  background-attachment: fixed;
  background-size: cover;
}

.User {
  color: #fff;
}

.input-group .form-control,
.input-group .input-group-text {
  border-radius: 0;
  /* 移除輸入框的圓角 */
  border-color: #ced4da;
}

.input-group .input-group-text {
  background-color: #ffffff;
  /* 設置為與input相同的背景顏色 */
  border-right: 0;
  /* 移除圖標包裹span右側的邊框 */
}