body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0px;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
    background-color: #D9D9D9;
}

.header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #000;
    text-decoration: none;
}

.user {
    display: flex;
    align-items: center;
    position: relative;
}

.user #usernameButton {
    cursor: pointer;
    padding: 10px;
}

.dropdown {
    display: none;
    position: absolute;
    right: 0;
    top: 40px;
    background-color: #d9d9d9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.user:hover .dropdown {
    display: block;
}

main {
    padding: 20px;
    max-width: 900px;
    margin: 20px auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.search-container input[type="text"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

.search-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #CD4444;
    color: white;
    margin-right: 10px;
}


.stock-info {
    text-align: left;
    width: 500px;
    margin: 0 auto;
}

.stock-price {
    display: flex;
    justify-content: left;
    align-items: last baseline;
    font-size: 24px;
    margin: 10px 0;
}

.stock-price .price {
    color: #09CF41;
    font-size: 48px;
}

.stock-price .change {
    margin-left: 10px;
    color: #09CF41;
}

.stock-details {
    font-size: 14px;
    color: #555;
    margin: 10px 0;
}

.stock-chart img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
}
