.accounting-kv {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 4rem;
}

.history-container-all {
    flex: 1;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: row;
}

.history-chart-card {
    margin-left: 2rem;
    width: 35%;
}

.history-chart-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.history-chart-title {
    text-align: center;
}

.history-chart-pie-container {
    height: 200px;
    width: 100%;
    margin-bottom: 10rem;
    /* 圓餅圖容器的高度和底部間距 */
}

/* 圓餅圖支出容器，不需要底部間距 */
.history-chart-container .history-chart-pie-container:last-child {
    margin-bottom: 0;
}

/* 媒體查詢，對手機進行調整 */
@media (max-width: 768px) {
    .accounting-kv {
        display: flex; /* 啟用 Flexbox */
        justify-content: center; /* 水平置中 */
        align-items: flex-start;
        height: 100vh; /* 讓父容器的高度為 100vh，以便可以完全填滿螢幕 */
    }

    .history-chart-card{
        display: none; /* 隱藏元素 */
    }
}